.musicInfo{
  font-family: 'Cormorant Garamond', serif;
  background-color: #F96300;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 30%;
}

.info_title{
  font-size: 20px;
  text-align: center;
}

.info_artist{
  font-size: 15px;
  text-align: center;
}

.info{
  font-size: 20px;
  height: 40px;
  bottom: 0;
}

.image{
  position: relative;
  bottom: 50px;
  top: 0;
}

.profileImg{
  position: relative;
  width:100%;
  height: 175px;
}

.audio_player{
  position: absolute;
  background-color: #F96300;
  width: 100%;
  bottom: 0;
  height: 50px;
  left: 300px;
}

#audio-buttons{
  position: relative;
  display: inline-block;
  white-space:nowrap;
  bottom: -10px;
  height: 100%;
  left: 0;
}

#audio-buttons input{
  height: 30px;
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.bar{
  position: relative;
  display: inline-block;
  white-space: nowrap;
  height: 100%;
  width: 40%;
  top: 0;
  margin-left: 20px;
}

.barInfo{
  position: relative;
  display: inline-block;
  white-space: nowrap;
  right: 0;
  height: 100%;
  width: 10%;
}

#progressbar{
  position: relative;
  display: inline-block;
  background: #A9A9A9;
  border-radius: 10px;
  right: 10px;
  width: 100%;
  height: 20%;
}

#progress{
  position: relative;
  background: black;
  border-radius: 10px;
  height: 100%;
  width: 0%;
}

#progressHead{
  position: relative;
  float: right;
  background: red;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 50%;
 }


#duration{
  position: relative;
  display: inline-block;
  bottom: -10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  /*from original css*/
  background: #A9A9A9;
  -moz-border-radius: 5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

#length{
  position: relative;
  display: inline-block;
  bottom: -10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  /*from original css*/
  background: #A9A9A9;
  -moz-border-radius: 5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
