/* FRIENDS */
.friendContainer{
  position: relative;
  width: 100%;
  top: 0;
  height: 60%;
}

#friendStatus{
  position: relative;
  width: 100%;
  border-collapse: collapse;
}

.friendHeader tr{
  height: 30px;
  color: #FF3B3F;
  background-color: #CAEBF3;
}

.friendHeader td{
  position: relative;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid gray;
  text-align: left;
  padding-left: 10px;
  vertical-align: middle;
}

.friendList tr{
  position: relative;
  width: 100%;
  height: 40px;
  font-size: 13px;
  background-color: white;
}

.friendList td{
  position: relative;
  width: 50%;
  text-align: left;
  padding-left: 10px;
  vertical-align: middle;
}

/* RECOMMENDATIONS */
.recommendationsContainer{
  position: relative;
  width: 100%;
  height: 40%;
  bottom: 0;
}

.recHeader{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #FF3B3F;
  padding-left: 10px;
}

.recHeader span{
  position: relative;
  display: inline;
  top: 20px;
}

#recResults{
  position: relative;
  width: 100%;
}

#recResults thead{
  background-color: #CAEBF3;
}
