/* SEARCHBAR */
.searchbar{
  position: relative;
  vertical-align: middle;
  text-align: center;
  background-color: #FF3B3F;
  top: 0;
  height: 60px;
  width: 100%;
}

.search{
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top: 16px;
  height: 26px;
  width: 245px;
  display: inline-block;

}

#searchBox{
  position: relative;
  float: left;
  margin: 10px;
  top: -8px;
  height: 20px;
  width: 200px;
  border: 0;
}

#searchBox:focus{
  outline: none;
}

#searchButton{
  position: relative;
  right: 0;
  top: 3px;
  height: 15px;
  width: 15px;
  margin-left: 5px;
}
/***************************************/


/* SEARCH RESULTS */
#searchResults{
  position:relative;
  top: 0;
  right: 0;
  width: 100%;
  border-collapse: collapse;
}

.searchResults td{
  width: 27%;
  overflow-y: hidden;
}

/* header */
.resultsHeader td{
  position: relative;
  height: 20px;
  top: 2px;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding-left: 10px;
}

/* body */
.resultsBody{
  overflow-y: scroll;
}

.song{
  height: 40px;
  font-size: 13px;
  overflow: hidden;
}

.song:hover{
  background-color: #FF3B3F;
}

.action{
  position: relative;
  width: 19%;
  text-align: center;
}

.songInfo{
  position: relative;
  display: inline-block;
  height: 5px;
  top: 10px;
  margin-left: 10px;
  overflow: hidden;
}

.add{
  position: relative;
  height: 20px;
  width: 20px;

}
/***************************************/
