<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="utf-8" content = "text">
      <!-- FONT LINKS -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:300,400" rel="stylesheet">
      <!-- STYLE LINKS -->
      <link type="text/css" rel="stylesheet" href="/static/css/box.css">
      <link type="text/css" rel="stylesheet" href="/static/css/queue.css">
      <link type="text/css" rel="stylesheet" href="/static/css/player.css">
      <link type="text/css" rel="stylesheet" href="/static/css/search.css">
      <link type="text/css" rel="stylesheet" href="/static/css/rightbar.css">
      <title>MUSIC PLAYER</title>
   </head>
   <body>
      <div class="container">
         <!-- SEARCH RESULTS + SONG INFO-->
         <div class="sidebar">
            <!-- SEARCH -->
            <div class = "searchbar">
               <div class = "search">
                  <input placeholder="Search..." type="text" id = "searchBox" required>
                  <input type="image" value = "button" id = "searchButton" class = "clickable" src = "/static/assets/images/icons/search.png">
               </div>
            </div>
            <!-- RESULTS -->
            <table id = "searchResults" summary = "search">
               <!-- HEADER -->
               <thead class = "resultsHeader">
                  <tr>
                     <td>Song</td>
                     <td>Artist</td>
                     <td>Time</td>
                     <td></td>
                  </tr>
               </thead>
               <!-- SONGS -->
               <tbody class = "resultsBody">
                  
               </tbody>
            </table>
            <!-- COVER IMAGE + SONG TITLE -->
            <div class = "musicInfo" id = "musicInfo">
               <div class="image">
                  <img class="profileImg" src="{{currentsong.thumbnail}}"/>
               </div>
               <div class="info">
                  <span class = "infoTitle">{{currentsong.title}}</span>
                  <span class = "infoArtist">{{currentsong.author}}</span>
               </div>
            </div>
         </div>
         <!-- QUEUE -->
         <div class = "main">
            <!-- QUEUE -->
            <div class="queueSong">
              <div class = "queueHeader">Play Queue</div>
               <table id="qTable">
                  <tbody>
                    {% for song in queue %}
                      <tr>
                        <td>
                          <div>{{song.title}}</div>
                          <input type = "image" value = "button" id = "removeButton" onclick="deleteRow(this)" class = "removeButton clickable" src = "/static/assets/images/icons/x.png"/>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
         <!-- ADDITIONAL FEATURES -->
         <div class = "rightbar">
            <div class = "friendContainer">
                  <table class = "friendStatus">
                     <thead class = "friendHeader">
                        <tr>
                           <td>Friends</td>
                           <td>Status</td>
                        </tr>
                     </thead>
                     <tbody class = "friendList">
                        <tr>
                           <td>friend 1</td>
                           <td>OFFLINE</td>
                        </tr>
                     </tbody>
                  </table>
            </div>
            <div class = "recommendationsContainer">
              <div class = "recHeader"><span>Recommendations</span></div>
              <table id = "recResults" summary = "recommendations">
                 <!-- HEADER -->
                 <thead class = "resultsHeader">
                    <tr>
                       <td>Song</td>
                       <td>Artist</td>
                       <td>Time</td>
                       <td></td>
                    </tr>
                 </thead>
                 <!-- SONGS -->
                 <tbody class = "resultsBody">
                    <tr class = "song">
                       <td><span class = "songInfo">odd</span></td>
                       <td><span class = "songInfo">ARTIST</span></td>
                       <td><span class = "songInfo">TIME</span></td>
                       <td class = "action"><span class = "Actions songInfo">
                          <input type = "image" value = "button" class = "add clickable"
                             src = "/static/assets/images/icons/plus.png"/>
                          </span>
                       </td>
                    </tr>
                    <tr class = "song">
                       <td><span class = "songInfo">even</span></td>
                       <td><span class = "songInfo">ARTIST</span></td>
                       <td><span class = "songInfo">TIME</span></td>
                       <td class = "action"><span class = "Actions songInfo">
                          <input type = "image" value = "button" class = "add clickable"
                             src = "/static/assets/images/icons/plus.png"/>
                          </span>
                       </td>
                    </tr>
                 </tbody>
              </table>
            </div>
         </div>
         <!-- PROGRESS BAR + AUDIO MANIPULATION -->
         <div class = "audio_player">
            <div id = "audio-buttons">
               <input type = "image" value = "button" id = "prev" class = "clickable" src = "/static/assets/images/icons/back-skip.png"/>
               <input type = "image" value = "button" id = "play" class = "clickable" src = "/static/assets/images/icons/play.png"/>
               <input type = "image" value = "button" id = "pause" class = "clickable" src = "/static/assets/images/icons/pause.png"/>
               <input type = "image" value = "button" id = "next" class = "clickable" src = "/static/assets/images/icons/skip.png"/>
            </div>
            <div class = "bar">
              <div id = "progressbar" onmouseup= "setProgress(event)"> <!--onclick="visualProgress(event)"  ondrag= "visualProgress(event)" ondragend="setProgress(event)"-->
                <div id = "progress" on draggable="false">
                  <div id = "progressHead" draggable="false"></div>
                </div>
              </div>
            </div>
            <div class = "barInfo">
               <span id = "duration">00:00</span>
               <span id = "length">00:00</span>
            </div>
         </div>
      </div>
      <!-- JAVASCRIPT LINKS -->
      <script src = "/static/js/jquery-3.1.1.min.js"></script>
      <script src = "/static/js/action.js"></script>
      <script src = "/static/js/poll.js"></script>
      <script src = "/static/js/audio.js"></script>
      <script src = "/static/js/progress.js"></script>
   </body>
</html>
