<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <!-- STYLE LINKS -->
        <link type = "text/css" rel="stylesheet" href="/static/css/box.css">
        <link type = "text/css" rel="stylesheet" href="/static/css/queue.css">
        <link type = "text/css" rel="stylesheet" href="/static/css/player.css">
        <link type = "text/css" rel = "stylesheet" href = "/static/css/search.css">
        <title>MUSIC PLAYER</title>
    </head>
    <body>
        <div class="container">
            <!-- SIDEBAR: THE QUEUE + SONG INFO-->
            <div class="sidebar" id="sidebar">
                <!-- QUEUE -->
                <div class="queueSong">
                    <table class="qTable" id="qTable">
                        <tr>
                            <th>Song Info</th>
                        </tr>
                        {% for song in queue %}
                        <tr>
                            <td>
                                <div>{{ song.title }}</div>
                                <button class="removeButton" onclick="deleteRow(this)">X</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- COVER IMAGE + SONG TITLE -->
                <div class="musicInfo" >
                    <div class="image">
                        <img class="profileImg" src="{{ currentsong.thumbnail }}"/>
                    </div>
                    <div class="info_title">{{currentsong.title}}</div>
                    <div class="info_artist">{{currentsong.author}}</div>
                </div>
            </div>
            <!-- SEARCH + SEARCH RESULTS -->
            <div class = "mainContainer">
                <div class="main">
                    <!-- SEARCH -->
                    <div class = "searchbar">
                        <div class = "search">
                            <input placeholder="Search..." type="text" id = "searchBox" required >
                            <input type="image" value = "button" id = "searchButton" class = "clickable"  onclick = "getSearch()" src = "/static/assets/images/icons/search.png">
                        </div>
                    </div>
                    <!-- RESULTS -->
                    <table id = "searchResults" summary = "search">
                        <!-- HEADER -->
                        <thead class = "resultsHeader">
                            <tr>
                                <td>Song</td>
                                <td>Artist</td>
                                <td>Time</td>
                                <td>Source</td>
                                <td>Queue</td>
                            </tr>
                        </thead>
                        <!-- SONGS -->
                        <tbody class = "resultsBody">
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- PROGRESS BAR + AUDIO MANIPULATION -->
            <div class = "audio_player">
                <div id = "audio-buttons">
                    <input type = "image" value = "button" id = "prev" class = "clickable" src = "/static/assets/images/icons/back-skip.png"/>
                    <input type = "image" value = "button" id = "play" class = "clickable" src = "/static/assets/images/icons/play.png"/>
                    <input type = "image" value = "button" id = "pause" class = "clickable" src = "/static/assets/images/icons/pause.png"/>
                    <input type = "image" value = "button" id = "next" class = "clickable" src = "/static/assets/images/icons/skip.png"/>
                </div>
                <div class = "bar">
                    <div id = "progressbar" onclick="visualProgress(event)"  ondrag= "visualProgress(event)" ondragend="setProgress(event)" onmouseup= "setProgress(event)">
                        <div id = "progress" on draggable="false">
                            <div id = "progressHead" draggable="false"></div>
                        </div>
                    </div>
                </div>
                <div class = "barInfo">
                    <span id = "duration">00:00:00</span>
                    <span id = "length">00:00:00</span>
                </div>
            </div>
        </div>
        <!-- JAVASCRIPT LINKS -->
        <script src="/static/js/jquery-3.1.1.min.js"></script>
        <script src="/static/js/audio.js"></script>
        <script src="/static/js/queueManipulation.js"></script>
        <script src="/static/js/poll.js"></script>
        <script src="/static/js/progress.js"></script>
    </body>
</html>
