<!-- HEADER -->
<thead class = "resultsHeader">
    <tr>
        <td>Song</td>
        <td>Artist</td>
        <td>Time</td>
        <td>Source</td>
        <td>Queue</td>
    </tr>
</thead>
<!-- SONGS -->
<tbody class = "resultsBody">
    {% for song in searchresults %}
    <tr class = "song">
        <td><span class = "songInfo">{{ song.title }}</span></td>
        <td><span class = "songInfo">{{ song.author }}</span></td>
        <td><span class = "songInfo">{{ song.length }}</span></td>
        <td><span class = "songInfo">SOURCE</span></td>
        <td class = "action">
            <span class = "Actions songInfo">
                <input type = "image" value = "button" class = "add clickable" onclick = "addToQueue(this)" src = "/static/assets/images/icons/plus.png"/>
            </span>
        </td>
    </tr>
    {% endfor %}
</tbody>
