<div class="queueSong">
    <table class="qTable" id="qTable">
        <tr>
            <th>Song Info</th>
        </tr>
        {% for song in queue %}
        <tr>
            <td>
                <div>{{ song.title }}</div>
                <button class="removeButton" onclick="deleteRow(this)">X</button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="musicInfo">
    <div class="image">
        <img class="profileImg" src="{{ currentsong.thumbnail }}"/>
    </div>
    <div class="info_title" id="position" data-position="{{position}}">{{currentsong.title}}</div>
    <div class="info_artist"id="current_song" data-length="{{currentsong.length}}">{{currentsong.author}}</div>
</div>